/*Div Article*/
/*Apple card*/
.apple_card{
    position: relative;
    margin: 1rem;
}

.apple_card .card{
    position: relative;
    width: 320px;
    height: 530px;
    background: #443F3F;
    border-radius: 20px;
    overflow: hidden;
}

.apple_card .card::before{
content: '.';
position: absolute;
top:  -50px;
left: 0;
width: 100%;
height: 100%;
background: #60F326;
clip-path: circle(150px at 80% 20%);
transition: 0.5s ease-in-out;
}

.apple_card .card:hover::before{
clip-path: circle(300px at 80% -20%);
}

.apple_card::after{
content: 'Apple';
position: absolute;
top: 43%;
left: 8%;
font-size: 7em;
font-weight: 750;
font-style: italic;
color: #afadad1a;
}

.apple_card .card .imgBx{
position: absolute;
top: 40%;
transform: translateY(-50%);
z-index: 10000;
width: 100%;
height: 200px;
transition: 0.5s;
}

.apple_card .card:hover .imgBx{
top: 0%;
transform: translateY(0%);
}

.apple_card .card .imgBx img{
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);
width: 250px;
}
.apple_card .card .contentBx{
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
text-align: center;
transition: 1s;
z-index: 10;
}
.apple_card .card:hover .contentBx{
height: 210px;
}
.apple_card .card .contentBx h2{
position: relative;
font-weight: 600;
letter-spacing: 1px;
color: #fff;
margin: 0;
}
.apple_card .card .contentBx .size, .apple_card .card .contentBx .color{
display: flex;
justify-content: center;
align-items: center;
padding: 8px 20px;
transition: 0.5s;
opacity: 0;
visibility: hidden;
}
.apple_card .card:hover .contentBx .size{
opacity: 1;
visibility: visible;
transition-delay: 0.55s;
}
.apple_card .card:hover .contentBx .color{
opacity: 1;
visibility: visible;
transition-delay: 0.65s;
}
.apple_card .card .contentBx .size h3, .apple_card .card .contentBx .color h3{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.apple_card .card .contentBx .size span {
height: 30px;
width: 55px;
text-align: center;
line-height: 30px;
font-size: 14px;
display: inline-block;
color: #111;
background-color: #fff;
margin: 0 5px;
transition: 0.5s;
color: #111;
border-radius: 4px;
cursor: pointer;
}
.apple_card .card .contentBx .size span:hover{
background-color:#9bdc28;
}
.apple_card .card .contentBx .color button{
width: 20px;
height: 20px;
background: #ff0;
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
}
.apple_card .card .contentBx .color button:nth-child(2){
background-color: rgb(250, 19, 77);
}
.apple_card .card .contentBx .color button:nth-child(3){
background-color: rgb(0, 0, 0);
}
.apple_card .card .contentBx .color button:nth-child(4){
background-color: rgb(255, 255, 255);
}
.apple_card .card .contentBx .color button:nth-child(5){
background-color: rgb(255, 251, 20);
}
.apple_card .card .contentBx a{
display: inline-block;
padding: 10px 20px;
background: #fff;
border-radius: 4px;
margin-top: 10px;
text-decoration: none;
font-weight: 600;
color: #111;
opacity: 0;
transform: translateY(50px);
transition: 0.5s;
}
.apple_card .card:hover .contentBx a{
opacity: 1;
transform: translateY(0px);
transition-delay: 0.75s;
}

#mainflex {
    transition: margin-left 1s;
}
/*Fin de div Article*/
