* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Main*/
#main {
    transition: margin-left 0.5s ease-in-out;
    min-height: 80vh;
}

/*Header*/
.topnav {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: 10vh;
    background-color: #424242;
    overflow: hidden;
}

.menubtn {
    grid-column-start: 1;
    grid-column-end: 2;
    display: table-cell;
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
}

.menubtn:hover {
    background-color: #ddd;
}

#icoOpen {
    line-height: 10vh;
    vertical-align: middle;
}

.site-title {
    grid-column-start: 2;
    grid-column-end: 10;
    display: block;
}

.site-title a {
    display: table-cell;
    height: 10vh;
    width: 80vw;
    line-height: 10vh;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
}

.site-title h1 {
    color: white;
}

.cartbtn {
    grid-column-start: 10;
    grid-column-end: 11;
    display: table-cell;
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
}

.cartbtn:hover {
    background-color: #ddd;
}

.fa-shopping-cart:before {
    line-height: 10vh;
    vertical-align: middle;
    color: black;  
}
/*Fin du Header*/

/*Menu latéral*/
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-in-out;
}
 
.tablink {
    padding: 0px 8px 0px 50px;
    text-decoration: none;
    font-size: 20px;
    background-color: #202020;
    color: #818181;
    transition: 0.3s;
    height: 60px;
    line-height: 60px;
    border: none;
}

.tablink:hover{
    margin-left: 50px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    text-decoration: none;
}

.closebtn:hover{
    color: red; 
}
/*Fin du menu latéral*/

/*Footer*/
.footer1 {
    background-color: #424242;
    height: 10vh;
    position: relative;
    width: auto;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: margin-left 0.5s ease-in-out;
}

footer div{
    display: table-cell;
    vertical-align: middle;
    /* width: auto; */
}

footer p{
    height: 10vh;
    display: table-cell;
    vertical-align: middle;
    /* width: auto; */
}
/*Fin du footer*/